<header>
  <nav class="bg-gray-200 shadow-lg">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 font-bold">
      <div class="relative flex h-16 items-center justify-between">
        <div class="text-lg">
          <!-- ADD LOGO HERE -->
          <span class="text-primary">GREEN</span>&nbsp;APPLE
        </div>
        <div class="flex gap-5">
          <a class="p-2 cursor-pointer">Pay check</a>
          <a class="p-2 cursor-pointer">Unlock Devices</a>
          <a
            class="p-2 cursor-pointer border-solid border-2 border-black rounded-xl"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
