<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: title }) %>
  <body>
    <div
      class="min-h-screen flex flex-col items-center justify-center bg-gray-100"
    >
      <h1 class="text-6xl font-bold text-gray-800">404</h1>
      <p class="mt-4 text-xl text-gray-600">
        Oops! The page you're looking for doesn't exist.
      </p>
      <a
        href="/"
        class="mt-6 inline-block px-6 py-2 bg-primary text-white rounded hover:bg-hover_primary"
      >
        Go back to Homepage
      </a>
    </div>
  </body>
</html>
