<div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
<div class="text-center">
  <p class="mt-6 text-lg leading-8 text-gray-600">
    Green Care cung cấp nhiều dịch vụ kiểm tra IMEI, cung cấp đầy đủ thông tin
    về thiết bị của bạn một cách nhanh chóng và tiện lợi!
  </p>

  <%- include('../partials/form_imei', { services: services }) %>
</div>
